<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28921298414-9rf3sbd7cq0srqgva43qmdhs1cjkp2qn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28921298414-9rf3sbd7cq0srqgva43qmdhs1cjkp2qn</string>
	<key>API_KEY</key>
	<string>AIzaSyA9EXFFFkLoX4EO8rhRkG6hJFZWCZb8g2U</string>
	<key>GCM_SENDER_ID</key>
	<string>28921298414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>simple-login-logout-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-login-logout-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28921298414:ios:136c7bcd87b2299b1962ff</string>
</dict>
</plist>